
  
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap');
body
{
	background-color: hsl(30, 38%, 92%);
	
	
	  min-height: 100vh;
    display: grid;
    place-content: center;
}
img{
width:350px;
height: auto;


}

h1
{
	
	
	display: inline-block;
	font-family: 'Fraunces', serif;
	color: hsl(212, 21%, 14%);

	
}
.price
{
	color: hsl(158, 36%, 37%);
	
}
.text
{
	
width: 300px;
height: auto;
font-family: 'Montserrat', sans-serif;
margin-left: 20px;
margin-right: 20px;



color: hsl(228, 12%, 48%);
margin-top: auto;
margin-bottom:auto;  



 }
 h4
 {
 	width: 270px;
 	font-weight: lighter;
 	
 	margin-top: 0px;
 	margin-bottom: 0px;

 }
 button
 {
 	background-color: #005842;
 	margin-top: 20px;
 	width: 300px;
 	height: 47px;
 	font-size: 16px;
 	font-family: 'Montserrat', sans-serif;
 	border-radius: 7px;
 	border-style: none;
 	color: white;
 	font-weight: bolder;
 	
 	display: inline-flex;
 	justify-content: center;


 }
 button:hover
 {
 	transition: 0.3s;
 	opacity: 0.7;
 }
 h3
 {
 	letter-spacing: 7px;
 	font-size: 10px;
 	
 	display: inline-block;
font-weight: bolder;
margin-bottom: 0px;
 }
 .disc
 {
 	margin-left: 20px;
 	text-decoration: line-through;
 }
 .purch
 {
 	
 	display: inline-block;
 }
ion-icon
{
	
	
	height: 100%;
	width: 25px;
	margin-right: 10px;

}
span
{
	
	margin-top: auto;
	margin-bottom: auto;
}
.page
{
	display:inline-flex;
	
	background-color: hsl(0, 0%, 100%);


	

}
@media only screen and (max-width:600px)
{
	img
	{
		width: 100%;
		height:250px;
		margin-right: auto;
		margin-left: auto;
		
	}
	text
	{
		width: 350px;
	}
	.page	{
		display: block;
		justify-content: center;
		position: absolute;
		margin-top: 0px;
		height: 680px;

		

	}
}
